@use "../../../../styles/mixins" as *;

.cash-on-delivery {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;

  & p {
    color: var(--black);
    opacity: 50%;
    font-size: 15px;
    font-weight: 600;
    max-width: 85%;

    @include for-phone-only {
      text-align: center;
    }
  }

  @include for-phone-only {
    flex-direction: column;
  }
}
