@use "../../../../styles/mixins" as *;

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 8px;
  padding: 60px 48px;
  gap: 40px;

  @include for-phone-only {
    padding: 33px 23px
  }

  &__title {
    @include h3;
    color: var(--black);
  }
}
