@use "../../../../styles/mixins" as *;

.e-money-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
  }
}
