@use "../../../../styles/mixins" as *;

.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 445px;

  @include for-tablet-and-down {
    align-items: center;
    gap: 20px;
  }

  @include for-phone-only {
    width: unset;
  }

  &--is-product-page {
    @include for-tablet-and-down {
      align-items: flex-start;
      gap: 30px;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include for-tablet-only {
      align-items: flex-start;
    }
  }
}
